/* .postCard {
    flex: 1;

}

.listing-container {
    flex: 2;
}

.main-container {
    gap: 10rem;
}

.bgimagecontainer {
    display: flex;
    justify-content: space-between;
    img {
        width: 70px;
        height: 70px;
    }
}


.postCard-Body {
    background-repeat: no-repeat;
    background-size: cover;
}

.selectedimage  {
    border: 4px solid black;
} */